.EDIT,.DELETE,.ADD{
	position: relative;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0 0 0;
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0);
	transition: all .2s;
}
.EDIT{
	margin: 0 0 0 0;
}
/* .ADD{

} */


/* Hover效果 */
.EDIT:hover{
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(55, 0, 255, 0.6);
	box-shadow: 0 0 20px rgba(55, 0, 255, 0.6);
}
.DELETE:hover{
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 0, 0, 0.6);
	box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}
.ADD:hover{
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(93, 215, 0, 0.6);
	box-shadow: 0 0 20px rgba(93, 215, 0, 0.6);
}

.divide{
	position: relative;
	height: 2px;
	width: 75%;
	margin: 5px 12.5px 0 12.5px;
	background-color: rgba(255, 255, 255, 0.4);
}



/* 书签Blur */
#bookmaskblur{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	display: none;
	background-color: rgba(0,0,0,0.2);
}

/* editbox样式 */
	.editbox{
			left: 0;
			top: 0;
			position: fixed;
			overflow: hidden;
			display: inline-block;
			backdrop-filter: blur(10px);
			box-shadow: 0 0px 25px rgba(0, 0, 0, 0);
			border-radius: 0px;
			width: 0px;
            height: 0px;
            background-color: rgba(255, 255, 255, 0);
			padding: 5px 12px 15px 8px;
	}
	.editinput{
			border-radius: 5px;
			width: 174px;
			border-style: none;
			background-color: rgba(255,255,255,0.4);
			outline: none;
			font-size: 12px;
			line-height: 12px;
			padding: 5px;
			caret-color: rgba(0, 0, 0, 0.2);
			color: rgb(0, 0, 0);
			transition: all 0.3s;
	}
	.editinput:focus{
			background-color: rgba(255,255,255,0.6);
	}
	.edittext{
			color: rgba(0,0,0,0.6);
			margin: 5px 0 5px 5px;
			font-size: 14px;
	}
	#finishedit,#canceledit{
			position: absolute;
			background-color: RGBA(255,255,255,0.2);
			color: rgba(0,0,0,0.8);
			margin: 5px 0 5px 5px;
			font-size: 12px;
			line-height: 12px;
			border-radius: 10px;
			text-align: center;
			padding: 6px;
			height: 13px;
			width: 28px;
			top: 112px;
			transition: all 0.3s;
			font-weight: 600;
	}
	#finishedit{left: 140px;}	#canceledit{left: 90px;}
	#finishedit:hover{
			color: rgba(255, 255, 255, 0.8);
			background-color: rgba(93, 215, 0, 0.6);
			box-shadow: 0 0 10px rgba(93, 215, 0, 0.6);
	}
	#canceledit:hover{
			color: rgba(255, 255, 255, 0.8);
			background-color: rgba(255, 0, 0, 0.6);
			box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
	}