/* @import url('https://fonts.font.im/css?family=Poppins'); */
body{
		background: black url(https://source.acexy.cn/view/XcYodFn) center center no-repeat fixed;
        background-size: cover;
		font-family: Poppins;
        font-weight: 600;
	    user-select: none;
}
::-webkit-scrollbar { display: none; }
::placeholder {color: rgba(0,0,0, 0.2);}

a {text-decoration: none;}

#left{
    backdrop-filter: blur(20px) saturate(110%);
	position: absolute;
	top: 0; 	
	left: 0; 
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8) , 0px 0px 50px rgba(255, 255, 255, 0.2) inset;
    overflow: scroll;
	width: 80px;
    height:100%;
}


.content,.block,#Search,.hisBox,#about{
    color: rgb(0,0,0);
	border-radius: 25px;
	backdrop-filter: blur(20px) saturate(110%);
    background-color:rgba(255,255,255,0.3);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	transition:box-shadow 0.4s,background .4s;
}

.content:hover,.block:hover,#Search:hover,.hisBox:hover,#about:hover,.BlockHover{
	box-shadow: 0 10px 30px rgba(0, 0, 0 ,0.6) !important;
	background: rgba(255, 255, 255, 0.4) !important;
}

.block{
    position: fixed;
    width: 450px;
	overflow: hidden;
    height: auto;
    left: 40%;
    color:rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.content{
    opacity: 0;
    width: 86%;
    height: auto;
    position: relative;
    margin: 10px 10px 20px 10px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    font-size: 10px;
    display: none;
    background-color:rgba(255,255,255,0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0);
}
.hisBox{
    z-index:12;
    display:none;
    left:50%;
    top:30%; 
    width:450px;
    max-height:40%;
    min-height:200px;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
    color: rgb(0,0,0);
    transform:translateX(-50%);
    position: fixed;
    background-color:rgba(255,255,255,0.45);
}

.content-l,.content-i{
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    transition:background .4s,box-shadow .4s;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.content-i{
    position: fixed;
    left:0;
    top:0;
    height: 40px;
	width: 80px;
    background-color:rgba(255,255,255,0.6);
    margin: 0px 0px 0px 0px;
    line-height: 40px;
	border-radius: 25px;
}


.bookmask{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 80px;
	font-size: 14px;
    background-color:rgba(255, 255, 255, 0.3);
	margin: 0px 10px 0px -60px;
	border-radius: 12px;
	height: 80px;
	line-height: 80px;
	padding: 0 0px 0 0px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transition: all .5s;
}

.bookmask:hover,.BookmaskHover{
	text-align: center;
	display: inline-block;
    background-color: rgb(0, 255, 204, 0.9);
	box-shadow: 0 0 20px rgba(0, 195, 156, 0.8);
	z-index: 5;
	margin: -15px 40px 0px -30px;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	line-height: 100px;
	font-size: 16px;
}


#Search,.Search{
    z-index: 2;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 20%;
    left: 40%; 
    height:40px; 
    width: 450px;
}
#searches{
    position: fixed;
    border-radius: 25px;
  	width: 100px;
    height: 100%;
  	left: 0px;
	top: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
	display: none;
	transition:background .5s;
}

#searches:hover{
	background: rgba(255, 255, 255, 0.3) !important;
}


#HM{
	height: auto;
    position: relative;
    margin: 10px 0 0 0;
  	font-size: 28px;
    font-weight: 400;
  	color: rgb(255,255,255);
  	text-align: center;
  	transition:font-size 0.4s,text-shadow .4S;
	cursor: none;
}

#HM:hover
{
    font-size: 90px;
	text-shadow:0px 0px 20px rgba(255, 255, 255, 0.5);
}

#HM0{
	filter: blur(5px);
	font-size: 110px;
	line-height:100px; 
	height:150px;
	width: 100%;
	color: rgba(255,255,255,0.0); 
	text-align:center; 
	display: none; 
    font-weight: 400;
	position: fixed; 
	left:50%; 
	top:40%; 
	z-index:12;
	text-shadow:0px 0px 40px rgba(255, 255, 255, 0.4);
	transform:translateY(-50%); 
	transform:translateX(-50%);
}

#MDD{
    position: relative;
    margin: 0px;
    font-size: 12px;
    color: rgb(255,255,255);
  	text-align: center;
    font-weight: 200;
}

#note{
	color: rgb(0,0,0);
	position: relative; 
	bottom: 18px;
	font-weight: bold; 
	font-size: 16px; 
	border: 0px; 
	background-color: rgba(0,0,0,0); 
	outline-style: none; 
	width: 400px; 
        height: auto;
	text-align: center;
	resize: none;
}

#input{
  	position: fixed;
  	top: 0px;
    left: 100px;
    width: calc(100% - 105px);
    right: 0;
    bottom: 0px;
    height:40px;
  	outline-style: none;
  	border: 0px;
	border-radius: 25px;
  	font-size: 20px;
	line-height: 35px;
	font-family: 'Poppins', sans-serif;
    color: rgb(0,0,0);
        text-align:center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  	background: rgba(0, 0, 0, 0);
        caret-color:rgba(0, 0, 0, 0.5);
}

#blurback{
	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
    z-index: 10;
    backdrop-filter: blur(20px);
}
#blackback{
	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
    z-index: 9;
        background: rgba(0, 0, 0, 0.3);
}


#finishbtn{
  	height: 25px;
	border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
  	font-weight: bold;
  	padding: 0 0.5rem 0;
	background: rgba(255, 255, 255, 0.4);
}

button{
	color: rgb(0, 0, 0);
    margin: 20px auto;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  	border: 1px solid transparent;
  	font-weight: bold;
  	float: right;
 }


#back{
	background-color: rgba(0, 0, 0, 0.05);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	box-shadow: 0 0px 300px rgba(0, 0, 0, 0.5) inset;
}

.loading_animation {
    border: 15px solid;
    border-left-color: rgba(255,255,255,.2);
    border-top-color: rgba(255,255,255,.8);
    border-right-color: rgba(255,255,255,.2);
    border-bottom-color: rgba(255,255,255,.8);
    border-radius: 50%;
    animation: 1s loading infinite linear;
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    left: 45%;
    top: 5px;
    background-color: rgba(255,255,255,0);
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);*/
    margin: 0 0 15px 0;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
        border-left-color: rgba(255,255,255,.0);
        border-top-color: rgba(255,255,255,.6);
        border-right-color: rgba(255,255,255,.0);
        border-bottom-color: rgba(255,255,255,.6);
    }

    50% {
        transform: rotate(180deg);
        border-left-color: rgba(255,255,255,.6);
        border-top-color: rgba(255,255,255,.0);
        border-right-color: rgba(255,255,255,.6);
        border-bottom-color: rgba(255,255,255,.0);
	}

    100% {
        transform: rotate(360deg);
        border-left-color: rgba(255,255,255,.0);
        border-top-color: rgba(255,255,255,.6);
        border-right-color: rgba(255,255,255,.0);
        border-bottom-color: rgba(255,255,255,.6);
	}
}

/* 右击菜单 */
#menu{
    width: 0;
	height: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: absolute;
    display: none;
	left: 0;
	top: 0;
	backdrop-filter: blur(10px);
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
}

#menu.Open{
	animation: MenuOpen .2s;
    animation-fill-mode: forwards;
}
#menu.Close{
	animation: MenuClose .15s;
    animation-fill-mode: forwards;
}
/* 出现动画 */
@keyframes MenuOpen {
    from {
		width: 0px;
		height: 0px;
		background-color: rgba(255, 255, 255, 0);
	}
    to {
		width: 100px;
		height: 107px;
		background-color: rgba(255, 255, 255, 0.15);
	}
}
/* 消失动画 */
@keyframes MenuClose {
    from {		
		width: 100px;
		height: 107px;
		background-color: rgba(255, 255, 255, 0.15);
	}
    to {
		width: 0px;
		height: 0px;
		background-color: rgba(255, 255, 255, 0);
	}
  }

