::-webkit-scrollbar { display: none; }
::placeholder {color: rgba(0,0,0, 0.2);}

a {text-decoration: none;}

#left{
	position: absolute;
    margin: 30px 0 0px 0;
	top: 0; 
	left: 4%; 
	width: 500px;
}
.content,#bookmasks,#Search{
        color: rgb(0,0,0);
	border-radius: 20px;
	backdrop-filter: blur(30px);
    background-color:rgba(255,255,255,0.5);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	transition:box-shadow 0.4s,background .4s;
}

.content:hover,#bookmasks:hover,#Search:hover{
	box-shadow: 0 0px 30px rgba(0, 0, 0 ,0.4) !important;
	background: rgba(255, 255, 255, 0.65) !important;
}

#bookmasks{
    position: fixed;
    width: auto;
    max-width: 460px;
    height: auto;
    top: 38%; 
    left: 55%;
    padding: 8px 15px 10px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.content{
    width: 450px;
    position: relative;
    margin: 10px 5px 20px 5px;
    padding: 0 20px 0 20px;
    overflow: hidden;
    font-size: 12px;
    color: rgb(0,0,0);
}


.content-l{
	backdrop-filter: opacity(40%) brightness(100%);
    width: auto;
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 10px 0px 0px 20px;
    overflow: hidden;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-weight: 800;
    transition:background .4s,color .8s;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.content-l:hover
{
    background: rgba(255, 255, 255, 0.5) border-box;
}

#Search{
    z-index: 2;
	margin: 0px;
	padding: 3px 10px 0px;
	overflow: hidden;
	display: flex;
	transition:box-shadow 0.3s;
	position: fixed;
        backdrop-filter: blur(15px); 
}


#searches{
    position: absolute;
  	width: 40px;
    height: 100%;
  	left: 0px;
	top: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
	display: none;
	transition:background .5s;
}

#searches:hover{
	background: rgba(255, 255, 255, 0.1) !important;
}


#HM{
    position: relative;
  	width: 300px;
  	left: 100px;
	right: 0px;
    margin: 0px;
  	font-size: 70px;
    font-weight: 400;
  	color: rgb(255,255,255);
  	text-align: center;
  	transition:font-size 0.4s,text-shadow .4S;
	cursor: none;
}

#HM:hover
{
    font-size: 90px;
	text-shadow:0px 0px 20px rgba(255, 255, 255, 0.5);
}

#HM0{
	font-size:100px;
	line-height:100px; 
	height:150px; 
	color: rgba(255,255,255,0.45); 
	text-align:center; 
	display: none; 
    font-weight: 200;
	position: fixed; 
	left:50%; 
	top:40%; 
	z-index:3;
	text-shadow:0px 0px 40px rgba(255, 255, 255, 0.4);
	transform:translateY(-50%); 
	transform:translateX(-50%);
}

#MDD{
    position: relative;
  	width: 300px;
  	left: 100px;
    margin: 0px;
    font-size: 15px;
    color: rgba(255,255,255,0.8);
  	text-align: center;
    font-weight: 800;
}

#note{
	color: rgb(0,0,0);
	position: relative; 
	bottom: 18px;
	font-weight: bold; 
	font-size: 16px; 
	border: 0px; 
	background-color: rgba(0,0,0,0); 
	outline-style: none; 
	width: 460px; 
        height: auto;
	text-align: center;
	resize: none;
}

#input{
  	position: absolute;
  	top: 0;
    left: 47px;
    right: 0;
    bottom: 0px;
  	outline-style: none;
  	border: 0px;
	border-radius: 15px;
  	font-size: 21px;
	line-height: 45px;
	font-family: 'Poppins', sans-serif;
    color: rgb(0,0,0);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  	background: rgba(0, 0, 0, 0);
}

#blackback{
	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
    z-index: 2;
    backdrop-filter: blur(40px) saturate(90%);
}


#finishbtn{
  	height: 25px;
	border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
  	font-weight: bold;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  	padding: 0 0.5rem 0;
	background: rgba(255, 255, 255, 0.25);
}

button{
	color: rgb(0, 0, 0);
    margin: 20px auto;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  	border: 1px solid transparent;
  	font-weight: bold;
  	float: right;
 }


  .ripple {
    position: absolute; /* 为了保持和button的位置关系 */
    border-radius: 50% 50%; /* 水波纹圆形 */
    background: rgba(255, 255, 255, 0.9);  /* 水波纹颜色 */

    /* 下面与动画效果相关 是0%时候的状态 */
    /* 默认的 transform-origin 是 center 即中心点 */
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 1;
  }

  .rippleEffect {
    -webkit-animation: rippleDrop .6s linear;
    animation: rippleDrop .6s linear;
  }

  @keyframes rippleDrop {
    /* 下面是动画100%时候的状态 */
    100% {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }

  @-webkit-keyframes rippleDrop {
    100% {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }


#back{
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	box-shadow: 0 0px 60px rgba(0, 0, 0, 0.6) inset;
}

.loading_animation {
    border: 20px solid;
    border-left-color: rgba(255,0,0,0.15);
    border-top-color: rgba(255,255,0,0.15);
    border-right-color: rgba(0,255,0,0.15);
    border-bottom-color: rgba(20,20,255,0.15);
    border-radius: 50%;
    animation: .5s loading infinite;
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    left: 210px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 0 0 15px 0;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
	}
}